﻿@model MySqlApp.Models.Work

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete this work?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AutoMechanic.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AutoMechanic.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfReceipt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfReceipt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlannedEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
