﻿@model IEnumerable<MySqlApp.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Car list</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <div class="active-pink-3 active-pink-4 mb-4">
        <input class="form-control" id="search" type="search" placeholder="Search" aria-label="Search" data-url="@Url.Action("CarSearch")">
    </div>
</p>
<div id="content">
    @Html.Partial("Search", Model)
</div>

@section Scripts {
    @Scripts.Render("~/scripts/search.js")
}

